body {
    background-color: azure;
} 

h1{
    font-size: 50px; 
    color:blue;
    text-align: center;

}
img{
    width: 1000px;
    height: 1000px;
}
#firstPic {
    width: 5000px;
    height: 5000px;
    
}
ul{
    list-style: none;
    background-color: greenyellow;
    position: fixed;
    top:0;
    width: 100%;
    margin: 0;

}
ul li a{
    display: block;
    color:plum;
    margin: 0;
    color: hotpink;
    font-size: 25px;
    
}
ul li{
    float: left;
    width: 25%;
    text-align: center;
    text-decoration: none;
    
}
li a:hover{
    background-color: green;
    color: black;
}